<!doctype html>
<html lang="kr">

<head>
  <%- include('header.ejs') %>
</head>

<body>
  <%- include('diaryNavbar.html') %>
    <div class="container mt-4">
      <form action="/add" method="POST">
        <div class="form-group" name="mood">
          <p class="text-justify">오늘의 기분</p>
          <div class="btn-group" role="group">
            <input type="radio" class="btn-check" name="mood" id="mood1" value="행복함" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="mood1">행복함</label>

            <input type="radio" class="btn-check" name="mood" id="mood2" value="즐거움" autocomplete="off">
            <label class="btn btn-outline-primary" for="mood2">즐거움</label>

            <input type="radio" class="btn-check" name="mood" id="mood3" value="보통" autocomplete="off">
            <label class="btn btn-outline-primary" for="mood3">보통</label>

            <input type="radio" class="btn-check" name="mood" id="mood4" value="그저그럼" autocomplete="off">
            <label class="btn btn-outline-primary" for="mood4">그저그럼</label>

            <input type="radio" class="btn-check" name="mood" id="mood5" value="기분나쁨" autocomplete="off">
            <label class="btn btn-outline-primary" for="mood5">기분나쁨</label>
          </div>
        </div>

        <p class="text-justify mt-3">한 일들</p>
        <div class="input-group mb-3">
          <div class="input-group-text">
            <input class="form-check-input mt-0" type="checkbox" name="todoBool"
              aria-label="Checkbox for following text input">
          </div>
          <input type="text" class="form-control" name="todoText" aria-label="Text input with checkbox">
        </div>

        <button type="submit" class="btn btn-primary">저장</button>
      </form>
    </div>
</body>

</html>