<html>
    <head>
        <%- include('header.ejs') %>
    </head>

    <body>
        <%- include('indexNavbar.html') %>
        <div class="container mt-4">
            <p class="text-justify">hi!</p>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </body>

    <footer>
        <%- include('footer.ejs') %>
    </footer>
</html>